footer.footer-simple {
  text-align: center;
  margin-top: 2rem; }
  footer.footer-simple .footer-items {
    padding-left: 0; }
  footer.footer-simple .footer-item {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center; }
  footer.footer-simple .footer-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1; }
  footer.footer-simple .footer-icon {
    color: #070707;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.6em;
    transform: translate(-50%, -50%);
    transition: 0.3s; }
  footer.footer-simple .fa-codepen, footer.footer-simple .fa-linkedin, footer.footer-simple .fa-envelope {
    font-size: 1.4em; }
  footer.footer-simple .fa-linkedin {
    font-size: 1.5em; }
  footer.footer-simple .fa-envelope {
    font-size: 1.3em; }
  footer.footer-simple .footer-link:hover {
    /*.fa-twitter { 
            color : #3498db;
        }
        .fa-google-plus { 
            color : #E34429;
        }
        .fa-github { 
            color : #9C7A5B;
        }
        .fa-linkedin { 
            color : #34495e;
        }
        .fa-codepen { 
            color : #161616;
        }*/ }
    footer.footer-simple .footer-link:hover .footer-icon {
      top: 30%; }

#menu-header-menu li {
  margin: 0.5rem 0.5rem; }
  #menu-header-menu li a {
    text-decoration: none;
    color: white; }

.card-custom {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3); }

.card-fixed-height {
  max-height: 800px;
  height: 100%;
  transition: transform 0.4s ease; }
  .card-fixed-height:hover {
    transform: scale(1.01); }

.card-custom-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%); }

.card-custom-img {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  border-color: inherit;
  background: rgba(236, 238, 236, 0.7);
  position: relative; }
  .card-custom-img h4 {
    color: #1E2B37;
    padding: 0.8em;
    margin-bottom: 0;
    position: absolute;
    bottom: 0; }
  .card-custom-img .date {
    display: block;
    position: absolute;
    right: 0;
    margin: 1.2em 1.2em;
    padding: 0.6em 1.4em;
    background-color: rgba(30, 43, 55, 0.6);
    color: #ECEEEC;
    border-radius: 50%;
    text-align: center; }
    .card-custom-img .date .month {
      display: block;
      font-size: 0.7rem;
      text-transform: uppercase;
      line-height: 1.1; }
    .card-custom-img .date .day {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.2; }
    .card-custom-img .date .year {
      display: block;
      font-size: 0.65rem;
      text-transform: uppercase; }

/* First border-left-width setting is a fallback */
/*
.card-custom-img::after {
  // The below style produces an indented separation between img and post content
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}
*/
.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
  display: none; }

.spinner {
  width: 4em;
  height: 4em;
  background: #a1a2a1;
  border-radius: 50%;
  margin: 5em auto;
  border: .3em solid transparent;
  animation: glow 1s ease infinite; }

@keyframes glow {
  0% {
    box-shadow: 0 0 0 .4em #a1a2a1, 0 0 0 .1em #a1a2a1;
    transform: rotate(360deg); }
  50% {
    border-top-color: #605556; }
  100% {
    box-shadow: 0 0 0 .4em #a1a2a1, 0 0 0 3.6em transparent; } }

body {
  font-family: monospace; }

.display-none {
  display: none; }

.display-block {
  display: block; }

.bg-dark {
  background-color: #1E2B37 !important; }

.navbar-light {
  background-color: white !important;
  color: #212529 !important;
  border-top: 2px solid #1E2B37 !important;
  border-bottom: 2px solid #1E2B37 !important; }
  .navbar-light #navbarSupportedContent .menu-item a {
    color: #212529 !important; }

.banner-logo {
  width: 100%; }
  .banner-logo img {
    max-width: 100%;
    max-height: 100%;
    width: 100%; }

.jumbotron-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1em; }

.jumbotron {
  background-color: rgba(236, 238, 236, 0.9);
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  margin-bottom: 0;
  border-radius: 0; }
  .jumbotron .btn-primary {
    color: #ECEEEC !important; }

.btn-primary {
  background-color: #2F3C48;
  border-color: #2F3C48; }

.btn-primary:hover {
  background-color: #6F7F8C;
  border-color: #6F7F8C; }

#navbarSupportedContent .menu-item {
  padding: 0.2em 0.4em; }
  #navbarSupportedContent .menu-item a {
    color: white; }

#navbarSupportedContent .current-menu-item {
  background-color: #6F7F8C;
  border-radius: 0.2em; }

.nav-next a i, .nav-previous a i {
  color: #212529; }

.client-search-hide {
  display: none; }

.client-search-show {
  display: block; }
