
// .row-cards {
//   // background-color: #FEFEFE;
// }

.card-custom {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-fixed-height {
  max-height: 800px;
  height: 100%;
    transition: transform 0.4s ease;
    
    &:hover {
        transform: scale(1.01);
    }
}

.card-custom-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  border-color: inherit;
  background: rgba($color_light, 0.7);
  position: relative;

  h4 {
    color: $color_dark;
    padding: 0.8em;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
  }
    
  .date {
      display: block;
      position: absolute;
      right: 0;
      margin: 1.2em 1.2em;
      padding: 0.6em 1.4em;
      background-color: rgba($color_dark, 0.6);
      color: $color_light;
      border-radius: 50%;
      text-align: center; 

      
        
        .month {
            display: block;
            font-size: 0.7rem;
            text-transform: uppercase;
            line-height: 1.1;
        }
      
      .day {
            display: block;
            font-size: 1.2rem;
          font-weight: bold;
            line-height: 1.2;
        }
        
        .year {
            display: block;
            font-size: 0.65rem;
            text-transform: uppercase;
        }
  }
}

/* First border-left-width setting is a fallback */
/*
.card-custom-img::after {
  // The below style produces an indented separation between img and post content
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}
*/

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
  display: none; 
}
